<h1>Seus Condomínios</h1>

<div class="list-container">
  <ng-container *ngIf="condos && condos.length > 0; else noCondos">
    <ul class="list">
      <li *ngFor="let condo of condos" class="list-item">
        <a [routerLink]="['/condos', condo.slug]" class="condo-link">
          <span class="condo-name">{{ condo.name }}</span>
          <span class="condo-slug">({{ condo.slug }})</span>
        </a>
      </li>
    </ul>
  </ng-container>
  <ng-template #noCondos>
    <div class="no-condos">Você não tem cadastro em nenhum condomínio.</div>
  </ng-template>
</div>