<div *ngIf="!condoSlug">
  <p>Loading...</p>
</div>

<div *ngIf="condoSlug">
  <h2>Chaves de Acesso</h2>
  <div *ngIf="accessKeys && accessKeys.length > 0; else noKeys">
    <table class="table access-keys-table">
      <thead>
      <tr>
        <th>Descrição</th>
        <th>Chave</th>
        <th>Início</th>
        <th>Fim</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let key of accessKeys">
        <td>{{ key.description }}</td>
        <td>{{ key.keyString }}</td>
        <td>{{ key.validFrom | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ key.validTo | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>
        <button class="btn btn-danger" (click)="confirmDeleteKey(key.keyString)" type="button">Remover</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noKeys>
    <p>Nenhuma chave de acesso cadastrada.</p>
  </ng-template>

  <h2>Criar Nova Chave de Acesso</h2>
  <form (ngSubmit)="createAccessKey()" #keyForm="ngForm">
    <label>
      Description:
      <input name="description" [(ngModel)]="newKey.description" required />
    </label>
    <label>
      Data inicial:
      <input name="validFrom" type="datetime-local" [(ngModel)]="newKey.validFrom" />
    </label>
    <label>
      Data final:
      <input name="validTo" type="datetime-local" [(ngModel)]="newKey.validTo" />
    </label>

    <button type="submit" [disabled]="keyForm.invalid">Create</button>
  </form>
</div>
