<!-- if not condo -->
<div *ngIf="!condo">
  <p>Loading...</p>
</div>

<!-- if condo -->
<div *ngIf="condo">
  <h1>{{ condo.name }}</h1>

  <ul>
    <li>Address: {{ condo.address }}</li>
  </ul>

  <h2>Devices</h2>
  <a [routerLink]="['/condos', condo.slug, 'devices']" class="btn btn-primary">List devices</a>

  <!-- <h2>Users</h2>
  <a [routerLink]="['/condos', condo.slug, 'users']" class="btn btn-primary">List users</a> -->

  <h2>Access Keys</h2>
  <a [routerLink]="['/condos', condo.slug, 'access-keys']" class="btn btn-primary">Manage access keys</a>
</div>

