<!-- if not condo -->
<div *ngIf="!condo">
  <p>Loading...</p>
</div>

<!-- if condo -->
<div *ngIf="condo">
  <h1>{{ condo.name }}</h1>
  {{ condo.address }}

  <h2>Opções</h2>
  
  <div class="list-container">
    <ul class="list">
      <li class="list-item">
        <a [routerLink]="['/condos', condo.slug, 'devices']" [queryParams]="{ key: key }" class="link">Listar Dispositivos</a>
      </li>
      <li class="list-item" *ngIf="!key">
        <a [routerLink]="['/condos', condo.slug, 'access-keys']" class="link">Gerenciar Chaves de Acesso</a>
      </li>
      <li class="list-item" *ngIf="canManage">
        <a [routerLink]="['/condos', condo.slug, 'users']" class="link">Gerenciar Usuários</a>
      </li>
    </ul>
  </div>

  
</div>

